# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json
yarn*.json
yarn.lock
yarn*.log
npm*.log

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# git
git-email-rewrite.sh
